# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# data
data/*
artifacts/*
notebooks/multi_plant/wandb/*

# vscode
.vscode/*

*.json
*.png